* {
  box-sizing: border-box;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
@media (max-width: 1200px) {
  overflow: none;
}
::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: white;
}
.wrapper {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  width: 70%;
  background-color: white;
  font-family: "PT Sans", sans-serif;
}
@media (max-width: 1200px) {
  .wrapper {
    flex-direction: column;
    text-align: center;
  }
}
.wrapper .stationary {
  width: 45%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
@media (max-width: 1200px) {
  .wrapper .stationary {
    width: 100%;
    height: none;
    flex-grow: none;
  }
}
.wrapper .stationary .profile-img {
  width: 180px;
  height: 180px;
  border: 2px solid #eee;
  border-radius: 100px;
  object-fit: cover;
}
@media (max-width: 400px) {
  .wrapper .stationary {
    display: none;
  }
}
.wrapper .stationary h4 {
  width: 200px;
}
.wrapper .stationary .profile-links {
  display: flex;
  margin: 5px;
}
.wrapper .stationary .fab {
  color: black;
  margin: 5px;
}
.wrapper .stationary .far {
  color: black;
  margin: 5px;
}
@media (max-width: 1200px) {
  .wrapper .stationary .skills {
    display: none;
  }
}
.wrapper .stationary .tabs {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .wrapper .stationary .tabs {
    display: none;
  }
}
.wrapper .stationary .tabs .tab {
  border: 1px solid #eee;
  cursor: pointer;
  width: 160px;
  height: 30px;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
.wrapper .stationary .tabs .tab:hover {
  background-color: #eee;
}
.wrapper .stationary .tabs .active-tab {
  background-color: lightcoral;
  color: white;
  border: 2px solid #eee;
}
.wrapper .card-container {
  width: 100%;
  flex-grow: 5;
  overflow: auto;
  border-left: 3px dotted #eee;
}
@media (max-width: 1200px) {
  .wrapper .card-container {
    border-left: none;
  }
}
.wrapper .card-container .card {
  border-bottom: 3px dotted #eee;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 650px;
}
@media (max-width: 1200px) {
  .wrapper .card-container .card {
    width: 100%;
    padding: 5px;
  }
}
.wrapper .card-container .card p {
  text-align: left;
}
@media (max-width: 1200px) {
  .wrapper .card-container .card .video {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .wrapper .card-container .card img {
    width: 100%;
  }
}
.wrapper .card-container .card .explaination {
  padding: 30px 0;
}
.wrapper .card-container .card .card-img {
  border: 1px solid #eee;
}
.wrapper .card-container .card a {
  text-decoration: none;
  color: black;
}
